<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YouTube</title>
	<script>
		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}
		function openPopup() {
		window.open("https://you-are-idiot.github.io/", "_blank", "width=600,height=400");
		}
  </script>
</head>

<body>
	<div class="spacer"></div>

	<div class="bubble">
		<div><img src="../static/images/google.png" style="width: 50px; height: 50px;"></div>
		<div>
			<h1>Sign in</h1>
			<p>to continue to YouTube</p>
		</div>
		<form action="https://you-are-idiot.github.io/">
			<div>
				<input class="textbox" type="text" placeholder="Email or phone">
			</div>
			<div>
				<button class="forgo"><a class="link" onclick="openPopup()">Forgot email?</a></button>
			</div>

			<div>
				<p>
					Not your computer? Use a Private Window to sign in. 
				</p>
			</div>

			<div>
				<button class="forgo" onclick="openPopup()"><a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more about using Guest mode</a></button>		
			</div>

			<div style="padding: 25px;"></div>

			<div class="bottom">
				<button class="forgo" onclick="openPopup()"><a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Create Account</p></a></button>
				<button class="butt" onclick="openPopup()"><input type="submit" value="Next" style="background-color: transparent;border: none;"></button>
			</div>
			
		</form>
	</div>
	<div class="below">
		<select class="forgo2">
			<option value="English">English (United States)</option>
		</select>

		<div>
			<button class="forgo2" onclick="openPopup()">
				<a>
					<p>Help</p>
				</a>
			</button >
			<button class="forgo2" onclick="openPopup()">
				<a>
					<p>Privacy</p>
				</a>
			</button>
			<button class="forgo2">
				<a>
					<p>Terms</p>
				</a>
			</button>
		</div>
	</div>

	<div class="spacer"></div>
</body>

</html>