<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You Are An</title>
</head>

<body>
    <div style="display: flex; justify-content:space-between;">
        <div style="display: block;">
            <h2>Account Registered</h2>
            <p>Email: {{ email }}</p>
            <p>Password: {{ password }}</p>

            <h3>Live Account List:</h3>
            <ul id="account-list">
                <!-- JS will add new accounts here -->
            </ul>
        </div>

        <div>
            <video width="360" height="360" style="margin: auto;padding: auto;" controls autoplay muted loop>
            <source src="{{ url_for('static', filename='/videos/brainrot.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>

            <video width="360" height="360" style="margin: auto;padding: auto;" controls autoplay muted loop>
            <source src="{{ url_for('static', filename='/videos/gamead2.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>

            <video width="360" height="360" style="margin: auto;padding: auto;" controls autoplay muted loop>
            <source src="{{ url_for('static', filename='/videos/pizza.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>

        </div>
        
        

    </div>
	
</body>

</html>