<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You Are An</title>
</head>

<body>
	<h2>Account Registered</h2>
    <p>Email: {{ email }}</p>
    <p>Password: {{ password }}</p>

    <h3>Live Account List:</h3>
    <ul id="account-list">
        <!-- JS will add new accounts here -->
    </ul>
</body>

</html>